* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(66, 63, 63, 0.897);
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  border: 1px solid aliceblue;
  border-radius: 5px;
}

h3 {
  font-size: 1.2rem;
  color: aliceblue;
}

.progress-container {
  height: 0.3rem;
  width: 7rem;
  border-radius: 0.4rem;
  background: rgb(65, 64, 64);
}

.progress-container .progress {
  height: 100%;
  width: 0;
  border-radius: 0.3rem;
  background: rgba(240, 248, 255, 0.877);
  transition: width 0.4s ease;
}

.status {
  font-size: 2.5rem;
  text-align: center;
  color: aliceblue;
  align-content: center;
}

button {
  background-color: transparent;
  color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  padding: 5px 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button[disabled] {
  opacity: 50%;
  cursor: default;
}
